:root {
 
  --light: #acdcb5;
  --lightblue: #dac9f8;
  --darkblue: #2081d1;
}

input{
  width: 100%;
}

button,
form {
  margin: 10px;
}
/* Apply custom Google font */
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.custom-card-header{
  background-color: var(--darkblue);
}

/* Shared custom styles for headers */
.header,
.btn-custom {
  background-color: var(--darkblue);
  color: var(--lightblue);
}

.btn-custom:hover {
  color: var(--lightblue);
}

#more-weather-days p{
  font-weight: 200;
  font-family:'Red Hat Display';
}

#more-weather-days div{
  background-color: var(--light);
}

#chosenCity{
  background-color: var(--light);

}
#chosenCity p{
  margin: 10px;
}

#chosenCity h2{
  margin: 10px;
}